/* Reset some default browser styles */
body, h1, p, button, section, header, main, footer {
    max-width: 1000px;
    margin: 0 auto; /* Center the elements horizontally */
    padding: 40;
    box-sizing: border-box;
}

/* Set a background color and font for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center; /* Center all text content */
}

/* Style the header */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

/* Style the main content */
main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

/* Style buttons */
button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background: #0056b3;
}

/* Style the image gallery */
#imageGallery {
    text-align: center;
    margin-top: 20px;
}

#imageGallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameAssets {
    display: flex;
    justify-content: center; /* Center the flex items */
    align-items: center; /* Center the flex items */
    margin-top: 20px;
    max-width: 400px;
}

#gameAssets_big {
    display: flex;
    justify-content: center; /* Center the flex items */
    align-items: center; /* Center the flex items */
    margin-top: 20px;
    max-width: 500px;
}
/* Style links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}