body {
    font-family: 'Helvetica', 'Arial', 'Verdana', 'Tahoma', 'Geneva', sans-serif;
}

.ascii-container {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* Allows horizontal scroll for very small screens */
}

pre {
    font-family: monospace;
    font-size: 1.2em; /* Use em units to scale with screen size */
    line-height: 1.2;
    text-align: center;
    white-space: pre; /* Ensures ASCII art doesn't wrap unexpectedly */
    display: inline-block; /* Keep content in its original block */
}

img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

/* Color classes */
.deeppink {
    color: deeppink;
}
.sienna {
    color: sienna;
}
.mediumblue {
    color: mediumblue;
}

/* Font size classes */
.large {
    font-size: 24px;
}

/* Movable eyes */
.eye {
    display: inline-block;
    position: relative;
    transition: transform 0.1s ease;
}

/* Button styling */
#paintButton {
    background-color: deeppink;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
}

#paintButton:hover {
    background-color: white;
    border: solid 1px;
    border-radius: 12px;
    border-color: deeppink;
    color: deeppink;
}

/* Hyperlink color */
a {
    color: pink;
}